package templates 

templ Index() {
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<link href="/css/output.css" rel="stylesheet"/>
		</head>
		<body>
			<div class="bg-orange-600">
				@Hello("John")
			</div>
		</body>
	</html>
}
